body {
    background-color: #F0F8EA;
    font-family: Nunito;
    margin: 0;
}

.heading {
    color: #02020B;
    font-weight: 600;
    font-size: 1.3vw;
}

.works {
    display: block;
    padding-top: 5px;
    padding-left: 80px;
}

#list {
    font-weight: 600;
}

.items {
    margin: auto;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: none;
}

.items:hover {
    background-color: #57a77393;
}

a:link {
    color: #02020B;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25vw;
}

a:hover {
    text-decoration: line-through;
    font-weight: 900;
    color: #02020B;
}

a:visited {
    color: #02020B;
}

.line {
    height: -1px;
    padding: none;
    border-bottom: 3px solid #02020B;
    border-radius: 100em;
}