@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: Akshar, sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    overscroll-behavior: none;
    background-color: #FFE16E;
    text-align: justify;
    transition: background-color 0.5s ease;
    /* background-image: url("/images/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

* {
    padding: 0;
    margin: 0;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    background-color: black;
    font-size: 1.1em;
    font-weight: 400;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    text-decoration: none;
}

.gen {
    background-color: #C4F3FF;
    padding-right: 30px;
    color: black;
}

#taskbar {
    background-color: #FFE16E;
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#taskbar a {
    font-size: 1.4em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    align-items: center;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.significance {
    float: left;
}

.dropbtn {
    font-size: 1.4em;
    border: none;
    min-width: 200px;
    outline: none;
    color: black;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown-content {
    position: absolute;
    background-color: #fadb5e;
    z-index: 999;
    display: flex;
    right: 0;
    left: 0;
    flex-direction: column;
    bottom: 70;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.filt:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}


/* .dropdown-content a:hover {
    background-color: #ddd;
} */

.filt {
    position: relative;
}

.filt a {
    cursor: pointer;
}

.search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.taskbar {
    position: relative;
}

.title-col {
    font-weight: 400;
    font-size: 8em;
    color: rgb(15, 15, 15);
}

.bar {
    height: 5%;
    width: 40%;
    max-width: 700px;
    background: #f1f1f1;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 60px;
    margin-bottom: 3em;
    padding: 0.5em;
    align-items: center;
}

.bar:hover {
    cursor: not-allowed
}

.dog-btn {
    position: relative;
}

.dog-btn:hover {
    cursor: pointer;
}

.dog-btn img {
    transform: translateY(-8%);
}

.dog-move img {
    animation: dog-anim 240ms ease-in infinite alternate-reverse;
}

@keyframes dog-anim {
    from {
        transform: translateY(-6%);
    }
    to {
        transform: translateY(-26%);
    }
}

@keyframes left-msg-anim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.message-list {
    color: black;
    overscroll-behavior: contain;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    padding: 15px 0;
    font-size: 1.2em;
    width: 100%;
    font-weight: 300;
    max-height: 100%;
    overflow: scroll;
}

.msgbox {
    margin-top: 0.3em;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.msgbox.left .txt {
    align-self: flex-start;
    align-items: flex-end;
    animation: left-msg-anim 0.2s ease;
    transform-origin: bottom left;
    display: flex;
}

.msgbox.right {
    align-self: flex-end;
    width: inherit;
    display: flex;
    margin-right: 0.8em;
    justify-content: flex-end;
}

.msgbox.msgbox.right .txt {
    animation: left-msg-anim 0.2s ease;
    transform-origin: bottom right;
    background-color: #f1f1f1;
}

.msgbox .txt {
    border: 1px black solid;
    padding: 0.3em;
    padding-right: 1.5em;
    width: fit-content;
    background-color: #fadb5e;
    margin-top: 0.5em;
    padding-left: 0.5em;
    text-align: start;
    border-radius: 1px;
}

.txt-wrap {
    max-width: 66%;
}

.msgbox.left::before {
    content: "";
    margin-bottom: 0;
    background-size: contain;
    margin-left: 10px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url("/images/doge.png");
    width: 40px;
    height: 40px;
}

.chatbox .input-box {
    min-height: 40px;
    height: fit-content;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    font-size: 1.2em;
    color: black;
    border-top: 1px black solid;
}

.user-txt {
    border: 1px black solid;
    border-radius: 30px;
    height: fit-content;
    cursor: pointer;
    width: fit-content;
    margin: 0 7px;
    padding: 5px 10px;
}

.user-txt:hover {
    transform: scale(1.05);
}

.chatbox {
    position: absolute;
    border: 6px black solid;
    bottom: 3.7em;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transform-origin: bottom;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    height: 450px;
    right: 0;
    background-color: white;
}

.chatbox.visible {
    visibility: visible;
}

.typing {
    width: 34ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
    padding-left: 1.2em;
    color: black;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.search-button {
    padding-right: 1.3em;
    position: absolute;
    right: 0;
}

.search-button img {
    position: relative;
    height: 30px;
    width: 30px;
}

.holy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 200px;
}

.meme {
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 200px 0;
    margin-bottom: 100px;
    align-items: center;
}

.meme h1 {
    position: absolute;
    top: -6vw;
    letter-spacing: 0.6;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    font-weight: 400;
    color: #f1f1f1;
    text-shadow: 2px 2px black;
    font-size: 8vw;
}

.meme .img {
    width: 75%;
    height: 35vw;
    position: relative;
    border-radius: 8px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.meme .data {
    align-self: flex-end;
    margin-bottom: 70px;
    color: black;
    margin-left: 50px;
    width: 30%;
}

.meme .data h2 {
    font-weight: 5 00;
    font-size: 1.8em;
    padding-bottom: 0.2em;
    color: #f1f1f1;
}

.meme .data .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;
}

.meme .data p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.desc-expand {
    -webkit-line-clamp: unset!important;
    /* number of lines to show */
    line-clamp: unset!important;
}

.meme .data .filter {
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
    padding: 1px 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 0.8em;
}

.meme .data .filter:hover {
    transform: scale(1.05);
}

.meme .view-more {
    text-decoration: underline;
    color: #f1f1f1;
    margin-top: 2px;
    user-select: none;
    cursor: pointer;
    padding-top: 0.8em;
}

.chatbox::-webkit-scrollbar {
    display: none;
}