body {
    font-family: Oswald;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {
    0% {
        background-color: #759FBC
    }
    30% {
        background-color: #A4243B
    }
    60% {
        background-color: #02020B
    }
    90% {
        background-color: #828C51
    }
    100% {
        background-color: #E85F5C
    }
}

.heading {
    font-size: 2.5vw;
    display: block;
    font-weight: lighter;
    padding-top: 10vw;
    color: white;
    text-align: center;
}

#images {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.lefttext {
    color: #F7EDE2;
    font-weight: lighter;
}

.righttext {
    color: #F7EDE2;
    font-weight: lighter;
}

img {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    width: 10vw;
}

#email {
    width: 1000;
}