* {
    box-sizing: border-box;
}

@media (min-width: 600px) {
    body {
        background: black;
    }
}

body {
    background-color: #F7EDE2;
    margin: 2em auto;
    padding: 0;
    font-family: 'Merriweather', "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    justify-content: center;
    display: flex;
}

.container {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

.if {
    font-size: 15em;
    color: #0F0F0F;
    font-weight: 400;
    -webkit-text-fill-color: #F7EDE2;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0F0F0F;
    transition: all 0.2s ease;
    display: block;
}

.fill {
    -webkit-text-fill-color: #0f0f0f;
    -webkit-text-stroke-width: 0px;
}

.pb {
    opacity: 0;
    font-size: 2.25rem;
    color: #0F0F0F;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    display: none;
}

.pb-visible {
    opacity: 100;
    display: block;
}